<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete</title>
  </head>
  <body>
    <p><%=@post.name%> was deleted</p>
    <!-- <input type="submit" value="delete"> -->
  </body>
</html>
