<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Submit Yo Shit: <h2>
    <form action="/posts" method="POST">
      <input type="text" name="name">
      <textarea name="content"></textarea>
      <input type="submit" value="submit">
    </form>

    <a href="/posts">View All Dem Posts</a>
  </body>
</html>
